:root {
  --primaryCol: #559988;
  --secondaryCol: #ccdddd;
  --thirdCol: #808080;
}

html {
  background-color: var(--secondaryCol);
}

body > * {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: var(--primaryCol);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--primaryCol);
  border: 5px solid #5a6cc5;
  color: var(--secondaryCol);
  border-end-end-radius: 15px;
  border-end-start-radius: 15px;
}

nav > * {
  margin: 15px;
}

nav {
  display: flex;
  align-items: center;
}

form input,
form button {
  margin: 15px 5px;
  background: var(--secondaryCol);
  border: none;
  border-radius: 15px;
  padding: 5px 15px;
  font-size: smaller;
  color: var(--primaryCol);
}

img {
  max-width: 100px;
  max-height: 100px;
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  justify-content: center;
  border-radius: 10px;
  padding: 15px;
}

.cardDiv {
  margin: 5px;
  padding: 10px;
  width: 100px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: var(--secondaryCol);
}

.cardDiv:hover {
  box-shadow: rgb(26, 2, 79) 1px 1px 3px 0px inset,
    rgb(4, 52, 52) -1px -1px 3px 1px inset;
}

div.cardDiv h4,
div.cardDiv h5 {
  margin: 5px;
  font-size: x-small;
}

footer {
  margin-top: 15px;
  margin-bottom: 24px;
  font-size: 12px;
  text-align: center;
  background-color: var(--secondaryCol);
}

footer button {
  background: var(--primaryCol);
  color: var(--secondaryCol);
  border-radius: 5px;
  border: none;
  font-size: smaller;
  margin: 5px;
  padding: 5px 10px;
}

footer button:hover {
  background: var(--secondaryCol);
  color: var(--primaryCol);
}

select option,
select {
  background: var(--secondaryCol);
  border: none;
  border-radius: 25px;
  width: 50%;
  padding: 5px 15px;
  font-size: smaller;
  color: var(--primaryCol);
}

header button:hover,
header input[type="submit"]:hover {
  box-shadow: 1px 1px 6px 3px var(--thirdCol) inset;
}

article {
  display: flex;
  flex-direction: row;
}

article div {
  margin: 5px;
}
